/** This is the stylesheet for: contact.html, login.html, search.html and 
success.html **/

/** Contact page **/

.center {
  margin: auto;
  width: 55%;
  border: 2px solid transparent;
  padding-bottom: 30px;
}

.link {
  text-decoration: underline;
  font-weight: bold;
  cursor: pointer;
  color: black;
}

.contact-form {
  background-color: var(--border-color);
  padding: 30px;
  margin: auto;
}

textarea {
  border-radius: 4px;
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: none;
}

textarea:hover {
  box-shadow: 2px 2px 5px rgba(88, 88, 88, 0.94);
}

.logo-bottom-two {
  display: block;
  max-width: 100%;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 40px;
}

/** Log in **/

.login-form {
  background-color: var(--border-color);
  padding: 30px;
  margin: auto;
  padding-bottom: 40px;
  margin-bottom: 20px;
}

/** Search page **/

.search {
  color: transparent;
}

.search-form {
  padding-bottom: 80px;
  border: 1px transparent;
  margin-bottom: 100px;
  background-color: var(--border-color);
  border-radius: 10px;
  height: 170px;
}

/** Success Page **/

.p-success {
  text-align: left;
  padding-bottom: 100px;
  color: var(--text-color-three);
}

.container {
  width: 550px;
  margin: auto;
}

.bold-text {
  font-weight: bold;
}

.phone-text {
  display: none;
}

/** Media queries **/

@media only screen and (max-width: 1200px) {
  .center {
    width: 50%;
  }
}

@media only screen and (max-width: 900px) {
  .continue-btn {
    margin-left: 180px;
  }
}

@media only screen and (max-width: 600px) {
  .center {
    width: 60%;
  }

  .p-success {
    display: none;
  }
  .container {
    width: 400px;
    height: auto;
    margin-bottom: 50px;
  }
  .phone-text {
    font-size: 17px;
    display: inline;
    color: var(--text-color-three);
  }
}
