/** The styles for jackets.html **/

.card {
    background-color: aquamarine;
    overflow: hidden;
}

.jackets-list {
    max-width: 1200px;
    padding: 15px;
    display: flex;
    gap: 50px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.jacket-image {
    width: 100%;
    max-width: 400px;
    height: 300px;
    object-fit: cover;
}

.about-product {
    color: var(--text-color-three);
    font-weight: bold;
    font-size: 20px;
}

.price {
    color: #000000;
}

/** div img {
    max-width: 100%;
    width: 700px;
    border: 2px solid var(--border-color);
}

div img:hover {
    opacity: 0.5;
    background-color: var(--text-color-three);
}

.jacket-selection {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    padding: 25px 25px 25px 25px;
}

.about-product span {
    color: var(--text-color-three);
    font-weight: bold;
    font-size: larger;
} **/


/** Media queries **/

/** @media only screen and (max-width: 1500px) {
    .about-product {
        text-align: center;
    }
    
}

@media only screen and (max-width: 600px) {
    h2 {
        font-size: 25px;
    }
} **/