/** The styles for jackets.html **/

.card {
    background-color: var(--border-color);
    overflow: hidden;
    margin-bottom: 100px;
    width: 500px;
    padding-top: 30px;
    border-radius: 10px;
}

.jackets-list {
    max-width: 1200px;
    padding: 15px;
    display: flex;
    gap: 100px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
}

.jacket-image {
    width: 100%;
    max-width: 400px;
    height: 400px;
    object-fit: cover;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
    
}

.about-product {
    color: var(--text-color-two);
    font-weight: bold;
    font-size: 20px;
    margin-left: 50px;
}

.price {
    color: var(--text-color-three);
    font-weight: bold;
    font-size: 30px;
    margin-left: 50px;
    position: relative;
    bottom: 40px;
}

a {
    text-decoration: none;
}

/** div img {
    max-width: 100%;
    width: 700px;
    border: 2px solid var(--border-color);
}

div img:hover {
    opacity: 0.5;
    background-color: var(--text-color-three);
}

.jacket-selection {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    padding: 25px 25px 25px 25px;
}

.about-product span {
    color: var(--text-color-three);
    font-weight: bold;
    font-size: larger;
} **/


/** Media queries **/

/** @media only screen and (max-width: 1500px) {
    .about-product {
        text-align: center;
    }
    
}

@media only screen and (max-width: 600px) {
    h2 {
        font-size: 25px;
    }
} **/