/** This is the stylesheet for product.html **/

.product-details {

}
.product-image {
    width: 100%;
    max-width: 400px;
    height: 400px;
    object-fit: cover;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
}
.product-title {
    color: var(--text-color-two);
    font-weight: bold;
    font-size: 20px;
    margin-left: 50px;
}
.product-description {

}

.product.price {
    color: var(--text-color-three);
    font-weight: bold;
    font-size: 30px;
    margin-left: 50px;
    position: relative;
    bottom: 40px;
}

.product-size {

}
.add-to-cart {

}
.go-back {

}

.logo-bottom-two {
    display: block;
    max-width: 100%;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
}

a {
    text-decoration: none;
}

/** Media queries **/
