/** This is the stylesheet for: jacketone.html, jackettwo.html, jacketthree.html,
jacketfour.html, jacketfive.html, jacketsix.html and jacketseven.html **/

.logo {
    max-width: 100%;
    width: 450px;
    display: block;
    z-index: 2;
    margin-right: auto;
    margin-left: auto;
    padding-top: 13px;
    
}

.product {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.jacket-image {
    max-width: 100%;
    height: auto;
    padding: 50px;
}

.jacket-info {
    font-size: 20px;
    text-align: left;
    padding-right: 50px;
}

.price {
   font-weight: bold;
   font-size: 35px;
   color: #0a3641; 
}

.add-btn {
    font-size: 15px;
    background-color: #0a3641;
    text-decoration: none;
    color: white;
    padding: 5px;
    border-radius: 3px;
}

.add-btn:hover {
    background-color: white;
    color: #0a3641;
}

.size {
    font-size: 15px;
    font-style: oblique;
}

select {
    padding: 6px;
    font-size: 15px;
}

.logo-bottom-two {
    display: block;
    max-width: 100%;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
}

/** Media queries **/

@media only screen and (max-width: 600px) {
    .logo {
        width: 300px;
        padding-left: 85px;
        padding-top: 70px;
    }
    .product {
        flex-direction: column;
    }
    .jacket-info {
        padding: 50px;
    }

}

@media only screen and (max-width: 430px) {
    body {
        overflow-x: hidden;
    }
    header {
    min-height: 250px;
    }
    
}