/** Stylesheet for shoppingcart.html **/
/** cart, cart-products **/
/** product-display, product-image, product-title, product-price, remove-btn **/

.cart-products {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    height: 500px;
    background-color: var(--border-color);
    border-radius: 10%;
}

.remove-btn {
    padding: 10px;
    background-color: var(--text-color-three);
    text-align: center;
    color: var(--bg-color);
    text-decoration: none;
    margin-left: 317px;
}

.remove-btn:hover {
    background-color: var(--bg-color);
    color: var(--text-color-three);
}

.logo-bottom-two {
    display: block;
    max-width: 100%;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
}

/** Media queries **/

@media only screen and (max-width: 1200px) {
    .shoppingcart {
        width: 600px;
        height: 400px;
    }
    .continue-btn {
        margin-left: 227px;
    }
}

@media only screen and (max-width: 900px) {
    .shoppingcart {
        width: 500px;
        height: 400px;
    }

    .continue-btn {
        margin-left: 180px;
    }
}

@media only screen and (max-width: 600px) {
    .shoppingcart {
        width: 400px;
        height: 500px;
    }
    .continue-btn {
        margin-left: 120px;
    }
}